Repository ryamao/free-market: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, eslint, ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

商品一覧ページのテストを修正する
  tests/Browser/Items/IndexTest.php
Due: ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

商品購入ページの外観を追加する
  app/Http/Controllers/PurchaseController.php
  app/Http/Requests/PurchasesStoreRequest.php
  app/Models/Purchase.php
  database/migrations/2024_05_26_033755_create_purchases_table.php
  resources/js/Components/PurchaseLink.vue
  resources/js/Pages/Items/Create.vue
  resources/js/Pages/Items/Purchase.vue
  routes/web.php
  tests/Browser/Items/PurchaseTest.php
  tests/Browser/Pages/Items/PurchasePage.php
Due: eslint --fix, prettier --write, eslint, ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

商品購入ページにStripe決済を追加する
  app/Http/Controllers/PurchaseController.php
  app/Models/User.php
  app/Providers/AppServiceProvider.php
  composer.json
  composer.lock
  config/cashier.php
  database/migrations/2024_05_29_143317_create_subscription_items_table.php
  database/migrations/2024_05_29_143318_create_subscriptions_table.php
  database/migrations/2024_05_29_143319_create_customer_columns.php
  package-lock.json
  package.json
  resources/js/Pages/Items/Purchase.vue
Due: eslint --fix, prettier --write, eslint, ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

商品購入ページに購入時の動作を追加する
  .env.dusk.testing
  .env.testing
  app/Http/Controllers/Auth/RegisteredUserController.php
  app/Http/Controllers/PurchaseController.php
  app/Http/Requests/PurchasesStoreRequest.php
  app/Http/Resources/ItemResource.php
  app/Listeners/StripeEventListener.php
  app/Models/Item.php
  app/Models/Purchase.php
  app/Models/User.php
  bootstrap/app.php
  database/migrations/2024_05_26_033755_create_purchases_table.php
  resources/js/Pages/Items/Purchase.vue
  resources/js/types/index.d.ts
  tests/Browser/Items/PurchaseTest.php
  tests/Browser/Items/ShowTest.php
  tests/Browser/Pages/Items/PurchasePage.php
  tests/Feature/ItemsIndexTest.php
Due: eslint --fix, prettier --write, eslint, ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

購入済み商品の詳細ページに表示を追加する
  app/Actions/PreparePayment.php
  app/Http/Controllers/ItemController.php
  app/Http/Controllers/PurchaseController.php
  app/Listeners/StripeEventListener.php
  app/Models/Item.php
  app/Models/Purchase.php
  database/migrations/2024_05_16_145850_create_items_table.php
  database/migrations/2024_05_26_033755_create_purchases_table.php
  resources/js/Components/ItemDetailTop.vue
  resources/js/Pages/Items/Purchase.vue
  resources/js/Pages/Items/Show.vue
  tests/Feature/ItemsIndexTest.php
Due: eslint --fix, prettier --write, eslint, ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

商品一覧ページに販売済み商品を表示しないようにする
  app/Actions/GetLatestItems.php
  app/Actions/SearchItems.php
Due: ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

CircleCIのテストでStripeの設定ができていなかったので修正する
  .circleci/config.yml
  .env.ci
  .env.dusk.testing
  .env.testing
  .gitignore
Due: none

CircleCIでStripeCLIを実行するときにバックグラウンドになっていなかったので修正する
  .circleci/config.yml
Due: none

プロフィール編集機能に都道府県選択を追加する
  app/Actions/UpdateProfile.php
  app/Http/Requests/ProfileUpdateRequest.php
  app/Http/Resources/ProfileResource.php
  app/Models/User.php
  database/factories/UserFactory.php
  database/migrations/0001_01_01_000000_create_users_table.php
  resources/js/Pages/Items/Purchase.vue
  resources/js/Pages/Profile/Edit.vue
  tests/Browser/Pages/ProfilePage.php
  tests/Browser/ProfileTest.php
  tests/Feature/ProfileEditTest.php
  tests/Feature/ProfileUpdateTest.php
Due: eslint --fix, prettier --write, eslint, ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

プロフィール編集ページで郵便番号を入力する際にハイフン付きでも動作するように修正する
  resources/js/Pages/Profile/Edit.vue
Due: eslint --fix, prettier --write, eslint

購入済み商品一覧の取得機能を追加する
  app/Actions/GetItemsBySeller.php
  app/Actions/GetPurchasedItems.php
  app/Http/Controllers/PurchaseController.php
  app/Http/Controllers/SaleController.php
  app/Models/User.php
  database/factories/PurchaseFactory.php
  tests/Feature/PurchasesIndexTest.php
  tests/Feature/SalesCreateTest.php
Due: ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

マイページに購入済み商品の表示を追加する
  app/Http/Controllers/UserController.php
  resources/js/Components/ItemCard.vue
  resources/js/Components/NavButton.vue
  resources/js/Pages/Dashboard.vue
  routes/web.php
  tests/Feature/DashboardTest.php
Due: eslint --fix, prettier --write, eslint, ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

管理者アカウントを追加する
  app/Actions/CreateNewItem.php
  app/Actions/UpdateProfile.php
  app/Http/Controllers/CommentController.php
  app/Http/Controllers/FavoriteController.php
  app/Http/Controllers/ProfileController.php
  app/Http/Controllers/PurchaseController.php
  app/Http/Controllers/SaleController.php
  app/Models/Admin.php
  config/auth.php
  database/factories/AdminFactory.php
  database/migrations/2024_06_05_051706_create_admins_table.php
  database/seeders/AdminSeeder.php
  database/seeders/DatabaseSeeder.php
  routes/admin.php
  routes/auth.php
  routes/web.php
  tests/Feature/Admin/IndexTest.php
Due: ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

管理ページを追加する
  app/Http/Controllers/AdminController.php
  app/Http/Middleware/HandleInertiaRequests.php
  app/Http/Requests/Auth/LoginRequest.php
  bootstrap/app.php
  resources/js/Layouts/AdminLayout.vue
  resources/js/Layouts/CommonLayout.vue
  resources/js/Pages/Admin/Index.vue
  resources/js/Pages/Admin/Login.vue
  resources/js/types/index.d.ts
  routes/admin.php
Due: eslint --fix, prettier --write, eslint, ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

ユーザー削除機能を追加する
  app/Actions/GetLatestItems.php
  app/Http/Controllers/AdminController.php
  app/Http/Controllers/UserController.php
  app/Http/Resources/UserResource.php
  app/Models/User.php
  database/migrations/0001_01_01_000000_create_users_table.php
  resources/js/Components/ItemDetailTop.vue
  resources/js/Pages/Admin/Index.vue
  resources/js/Pages/Items/Show.vue
  resources/js/types/index.d.ts
  routes/admin.php
Due: eslint --fix, prettier --write, eslint, ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

管理ページ関連のテストを追加する
  bootstrap/app.php
  database/factories/ItemFactory.php
  tests/Browser/Admin/IndexTest.php
  tests/Browser/Admin/LoginTest.php
  tests/Browser/Pages/Admin/IndexPage.php
  tests/Browser/Pages/Admin/LoginPage.php
  tests/Feature/Admin/AttemptTest.php
  tests/Feature/Admin/IndexTest.php
  tests/Feature/Admin/LoginTest.php
  tests/Feature/Admin/LogoutTest.php
  tests/Feature/ProfileEditTest.php
  tests/Feature/SalesCreateTest.php
  tests/Feature/UsersDestroyTest.php
Due: ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

メール作成ページの外観を追加する
  app/Http/Controllers/DirectMailController.php
  resources/js/Pages/Admin/Email.vue
  resources/js/Pages/Admin/Index.vue
  routes/admin.php
  tests/Browser/Admin/EmailTest.php
  tests/Browser/Pages/Admin/EmailPage.php
  tests/Feature/DirectMailsCreateTest.php
Due: eslint --fix, prettier --write, eslint, ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

メール送信機能を追加する
  app/Actions/SendDirectMail.php
  app/Http/Controllers/DirectMailController.php
  app/Http/Requests/DirectMailsStoreRequest.php
  app/Mail/DirectMail.php
  resources/js/Pages/Admin/Email.vue
  resources/views/emails/direct-mail.blade.php
  routes/admin.php
  tests/Browser/Admin/EmailTest.php
  tests/Feature/DirectMailsStoreTest.php
Due: eslint --fix, prettier --write, eslint, ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

メール送信機能のテストを修正する
  tests/Feature/DirectMailsStoreTest.php
Due: ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

コメント削除機能を追加する
  app/Http/Controllers/CommentController.php
  app/Models/Comment.php
  database/migrations/2024_05_20_015313_create_comments_table.php
  resources/js/Components/CommentCard.vue
  resources/js/Components/DangerButton.vue
  routes/admin.php
  tests/Browser/Commens/IndexTest.php
  tests/Browser/Pages/Commens/IndexPage.php
  tests/Feature/CommentsDestroyTest.php
  tests/Feature/CommentsIndexTest.php
Due: eslint --fix, prettier --write, eslint, ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

ユーザー削除機能を修正する
  app/Actions/GetLatestItems.php
  app/Http/Controllers/AdminController.php
  app/Http/Controllers/UserController.php
  app/Http/Resources/UserResource.php
  app/Models/User.php
  database/migrations/0001_01_01_000000_create_users_table.php
  resources/js/Components/CommentCard.vue
  resources/js/Components/ItemDetailTop.vue
  resources/js/Pages/Comments/Index.vue
  resources/js/Pages/Items/Show.vue
  resources/js/types/index.d.ts
Due: eslint --fix, prettier --write, eslint, ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

ユーザー削除時のテストを追加する
  tests/Browser/Admin/LoginTest.php
  tests/Browser/LoginTest.php
  tests/DuskTestCase.php
  tests/Feature/Admin/IndexTest.php
  tests/Feature/Auth/AuthenticationTest.php
  tests/Feature/CommentsIndexTest.php
  tests/Feature/ItemsIndexTest.php
  tests/Feature/ProfileEditTest.php
  tests/Feature/UsersDestroyTest.php
Due: ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

使用していないコントローラとテストを削除する
  app/Http/Controllers/Auth/ConfirmablePasswordController.php
  app/Http/Controllers/Auth/EmailVerificationNotificationController.php
  app/Http/Controllers/Auth/EmailVerificationPromptController.php
  app/Http/Controllers/Auth/NewPasswordController.php
  app/Http/Controllers/Auth/PasswordController.php
  app/Http/Controllers/Auth/PasswordResetLinkController.php
  app/Http/Controllers/Auth/VerifyEmailController.php
  tests/Feature/Auth/EmailVerificationTest.php
  tests/Feature/Auth/PasswordConfirmationTest.php
  tests/Feature/Auth/PasswordResetTest.php
  tests/Feature/Auth/PasswordUpdateTest.php
Due: ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

機能テストを追加する
  app/Actions/CreateNewItem.php
  phpunit.xml
  routes/auth.php
  tests/Feature/Auth/AuthenticationTest.php
  tests/Feature/FavoritesIndexTest.php
  tests/Feature/HomeMylistTest.php
  tests/Feature/ItemsIndexTest.php
  tests/Feature/ItemsShowTest.php
  tests/Feature/ProfileUpdateTest.php
  tests/Feature/PurchasesCreateTest.php
Due: ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

レスポンシブデザインを追加する
  resources/img/icon.svg
  resources/js/Components/CommentCard.vue
  resources/js/Components/ItemCard.vue
  resources/js/Components/ItemList.vue
  resources/js/Layouts/AdminLayout.vue
  resources/js/Layouts/AuthenticatedLayout.vue
  resources/js/Layouts/CommonLayout.vue
  resources/js/Pages/Admin/Email.vue
  resources/js/Pages/Admin/Index.vue
  resources/js/Pages/Admin/Login.vue
  resources/js/Pages/Auth/Login.vue
  resources/js/Pages/Auth/Register.vue
  resources/js/Pages/Comments/Index.vue
  resources/js/Pages/Dashboard.vue
  resources/js/Pages/Items/Create.vue
  resources/js/Pages/Items/Index.vue
  resources/js/Pages/Items/Purchase.vue
  resources/js/Pages/Items/Show.vue
  resources/js/Pages/Profile/Edit.vue
  resources/js/Pages/Welcome.vue
Due: eslint --fix, prettier --write, eslint

ユーザーページを追加する
  app/Http/Controllers/UserController.php
  resources/js/Components/CommentCard.vue
  resources/js/Pages/Admin/Index.vue
  resources/js/Pages/Items/Purchase.vue
  resources/js/Pages/User/Show.vue
  resources/js/types/index.d.ts
  routes/web.php
  tests/Feature/UsersSalesTest.php
  tests/Feature/UsersShowTest.php
Due: eslint --fix, prettier --write, eslint, ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

AWS環境構築用のTerraformプロジェクトを追加する
  .circleci/config.yml
  .editorconfig
  .gitignore
  app/Providers/AppServiceProvider.php
  composer.json
  composer.lock
  resources/.DS_Store
  resources/js/.DS_Store
  terraform/.env.example
  terraform/.gitignore
  terraform/app_server.tf
  terraform/database.tf
  terraform/deploy.sh
  terraform/domain.tf
  terraform/iam.tf
  terraform/load_balancer.tf
  terraform/main.tf
  terraform/network.tf
  terraform/nginx.conf
  terraform/startup.sh.template
  terraform/storage.tf
  terraform/variables.tf
Due: ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

CircleCIの設定ファイルの記入ミスを修正する
  .circleci/config.yml
Due: none

デプロイスクリプトを修正する
  .circleci/config.yml
  terraform/deploy.sh
Due: none

デプロイスクリプトを修正する
  .circleci/config.yml
Due: none

ヘッダの幅を調整する
  resources/js/Layouts/AdminLayout.vue
  resources/js/Layouts/CommonLayout.vue
  resources/js/Layouts/GuestLayout.vue
  resources/js/Layouts/SubPageLayout.vue
Due: eslint --fix, prettier --write, eslint

デプロイ環境でStripeとの通信ができていなかったので修正する
  resources/js/Pages/Items/Purchase.vue
  resources/js/Pages/Items/Show.vue
  terraform/.env.example
  terraform/load_balancer.tf
  terraform/startup.sh.template
Due: eslint --fix, prettier --write, eslint

デプロイスクリプトに実行許可を与える
  terraform/deploy.sh
Due: none

Conditionの名前が重複してテストが失敗したので修正する
  tests/Feature/UsersSalesTest.php
Due: ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

デプロイスクリプトを修正する
  terraform/deploy.sh
Due: none

READMEを更新する
  .env.example
  README.md
  documents/ER図.drawio.png
  documents/er-diagram.md
  documents/table.md
  documents/トップページ.png
Due: none

プロフィール編集ページのヘッダ幅を調整する
  resources/js/Layouts/SubPageLayout.vue
Due: eslint --fix, prettier --write, eslint

コメント削除時の確認メッセージを変更する
  resources/js/Components/CommentCard.vue
Due: eslint --fix, prettier --write, eslint

テストデータ挿入時に重複エラーが出ていたので修正する
  tests/Feature/FavoritesIndexTest.php
Due: ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

Path conditions:
  eslint --fix: any of: *.{js,ts,vue}
  prettier --write: any of: *.{js,ts,vue}
  eslint: any of: *.{js,ts,vue}
  ./vendor/bin/pint: any of: *.php
  ./vendor/bin/phpstan analyse --memory-limit=2G: any of: *.php
