Repository ryamao/free-market: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, eslint, ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

削除されたユーザーの出品した商品が新着商品に含まれていたので修正する
  app/Actions/GetLatestItems.php
  app/Actions/SearchItems.php
Due: ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

削除されたユーザーの出品した商品が販売終了と表示されていなかったので修正する
  resources/js/Components/ItemCard.vue
Due: eslint --fix, prettier --write, eslint

ユーザー削除時の商品一覧取得機能の挙動を変えたのでテストを修正する
  tests/Feature/ItemsIndexTest.php
Due: ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

主キーの設定されていないテーブルに主キーを追加する
  database/migrations/2024_05_16_145912_create_item_category_table.php
  database/migrations/2024_05_18_121913_create_favorites_table.php
  database/seeders/ItemSeeder.php
  database/seeders/TestDataSeeder.php
Due: ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

管理者のログイン認証情報を環境ファイルで設定できるようにする
  .env.example
  config/app.php
  database/seeders/AdminSeeder.php
  phpstan.neon
  terraform/.env.example
Due: ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

READMEにCircleCIプロジェクトへのリンクを追加する
  README.md
Due: none

テストを修正する
  tests/Feature/ItemsIndexTest.php
Due: ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

Path conditions:
  eslint --fix: any of: *.{js,ts,vue}
  prettier --write: any of: *.{js,ts,vue}
  eslint: any of: *.{js,ts,vue}
  ./vendor/bin/pint: any of: *.php
  ./vendor/bin/phpstan analyse --memory-limit=2G: any of: *.php
