Repository ryamao/free-market: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, eslint, ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

.lintstagedrc.json:

{
    "*.{js,ts,vue}": [
        "eslint --fix",
        "prettier --write",
        "eslint"
    ],
    "*.php": [
        "./vendor/bin/pint",
        "./vendor/bin/phpstan analyse --memory-limit=2G"
    ]
}

ログインページの外観を変更する
  resources/js/Layouts/GuestLayout.vue
  resources/js/Pages/Auth/Login.vue
  tests/Browser/LoginTest.php
  tests/Browser/Pages/LoginPage.php
Due: eslint --fix, prettier --write, eslint, ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

会員登録機能を修正する
  .env.ci
  .env.dusk.testing
  .env.example
  .env.testing
  app/Http/Controllers/Auth/RegisteredUserController.php
  app/Http/Requests/Auth/RegisterRequest.php
  composer.json
  composer.lock
  lang/en.json
  lang/en/actions.php
  lang/en/auth.php
  lang/en/http-statuses.php
  lang/en/pagination.php
  lang/en/passwords.php
  lang/en/validation.php
  lang/ja.json
  lang/ja/actions.php
  lang/ja/auth.php
  lang/ja/http-statuses.php
  lang/ja/pagination.php
  lang/ja/passwords.php
  lang/ja/validation.php
  tests/Feature/Auth/RegistrationTest.php
Due: ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

ログイン機能を修正する
  app/Http/Controllers/Auth/AuthenticatedSessionController.php
  app/Http/Requests/Auth/LoginRequest.php
  tests/Feature/Auth/AuthenticationTest.php
Due: ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

会員登録ページとログインページのテストを整理する
  app/Http/Controllers/Auth/AuthenticatedSessionController.php
  routes/web.php
  tests/Browser/LoginTest.php
  tests/Browser/RegisterTest.php
  tests/Feature/Auth/AuthenticationTest.php
  tests/Feature/Auth/RegistrationTest.php
Due: ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

商品一覧ページの外観を追加する
  resources/js/Layouts/CommonLayout.vue
  resources/js/Pages/Auth/Login.vue
  resources/js/Pages/Auth/Register.vue
  resources/js/Pages/Items/Index.vue
  resources/js/types/index.d.ts
  routes/web.php
Due: eslint --fix, prettier --write, eslint, ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

商品一覧ページのブラウザテストを追加する
  resources/js/Layouts/CommonLayout.vue
  resources/js/Pages/Items/Index.vue
  tests/Browser/ExampleTest.php
  tests/Browser/Items/IndexTest.php
  tests/Browser/Pages/Items/IndexPage.php
  tests/Feature/Auth/AuthenticationTest.php
Due: eslint --fix, prettier --write, eslint, ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

新着商品一覧取得機能を追加する
  app/Actions/GetLatestItems.php
  app/Http/Controllers/ItemController.php
  app/Http/Resources/ItemResource.php
  app/Http/Resources/SellerResource.php
  app/Models/Category.php
  app/Models/Condition.php
  app/Models/Item.php
  app/Models/ItemCategory.php
  database/factories/ConditionFactory.php
  database/factories/ItemFactory.php
  database/migrations/2024_05_16_144847_create_conditions_table.php
  database/migrations/2024_05_16_145405_create_categories_table.php
  database/migrations/2024_05_16_145850_create_items_table.php
  database/migrations/2024_05_16_145912_create_item_category_table.php
  database/seeders/CategorySeeder.php
  database/seeders/ConditionSeeder.php
  database/seeders/DatabaseSeeder.php
  database/seeders/ItemSeeder.php
  database/seeders/TestDataSeeder.php
  pint.json
  routes/web.php
  tests/Feature/Actions/GetLatestItemsTest.php
  tests/Feature/ExampleTest.php
  tests/Feature/ItemIndexTest.php
Due: ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

商品一覧ページに新着商品の1ページ目を表示する機能を追加する
  app/Http/Controllers/ItemController.php
  database/seeders/ItemSeeder.php
  package-lock.json
  package.json
  resources/js/Layouts/CommonLayout.vue
  resources/js/Pages/Items/Index.vue
  resources/js/types/index.d.ts
  routes/web.php
  tests/Browser/Items/IndexTest.php
  tests/Browser/LoginTest.php
  tests/Browser/Pages/Items/IndexPage.php
  tests/Browser/RegisterTest.php
Due: eslint --fix, prettier --write, eslint, ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

商品一覧ページに無限スクロール機能を追加する
  app/Actions/GetLatestItems.php
  app/Http/Controllers/ItemController.php
  database/seeders/ItemSeeder.php
  database/seeders/TestDataSeeder.php
  resources/js/Layouts/CommonLayout.vue
  resources/js/Pages/Items/Index.vue
  tests/Browser/Items/IndexTest.php
  tests/Feature/Actions/GetLatestItemsTest.php
  tests/Feature/Auth/AuthenticationTest.php
  tests/Feature/ItemIndexTest.php
Due: eslint --fix, prettier --write, eslint, ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

商品検索機能を追加する
  app/Actions/SearchItems.php
  database/factories/CategoryFactory.php
  tests/Feature/Actions/SearchItemsTest.php
Due: ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

商品一覧ページに検索結果表示機能を追加する
  app/Http/Controllers/ItemController.php
  database/migrations/2024_05_16_144847_create_conditions_table.php
  database/migrations/2024_05_16_145405_create_categories_table.php
  database/seeders/ItemSeeder.php
  resources/js/Pages/Items/Index.vue
  tests/Browser/Items/IndexTest.php
Due: eslint --fix, prettier --write, eslint, ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

商品詳細ページの外観を追加する
  app/Http/Controllers/ItemController.php
  database/factories/ItemFactory.php
  resources/js/Components/CommentIcon.vue
  resources/js/Components/FavoriteIcon.vue
  resources/js/Pages/Items/Show.vue
  resources/js/types/index.d.ts
  routes/web.php
  tests/Browser/Items/ShowTest.php
  tests/Browser/Pages/HomePage.php
  tests/Browser/Pages/Items/ShowPage.php
Due: eslint --fix, prettier --write, eslint, ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

お気に入り登録処理を追加する
  app/Actions/AddToFavorite.php
  app/Http/Controllers/Auth/VerifyEmailController.php
  app/Http/Controllers/FavoriteController.php
  app/Http/Controllers/ProfileController.php
  app/Models/Favorite.php
  app/Models/Item.php
  app/Models/User.php
  database/migrations/2024_05_18_121913_create_favorites_table.php
  routes/web.php
  tests/Feature/Actions/AddToFavoriteTest.php
  tests/Feature/FavoriteStoreTest.php
Due: ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

商品取得処理にお気に入り登録数を追加する
  app/Actions/GetLatestItems.php
  app/Http/Resources/ItemResource.php
  tests/Feature/Actions/AddToFavoriteTest.php
  tests/Feature/ItemIndexTest.php
Due: ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

商品詳細ページにお気に入り登録機能を追加する
  app/Http/Resources/ItemResource.php
  resources/js/Components/FavoriteIcon.vue
  resources/js/Pages/Items/Show.vue
  resources/js/types/index.d.ts
  tests/Feature/ItemIndexTest.php
Due: eslint --fix, prettier --write, eslint, ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

お気に入り削除処理を追加する
  app/Actions/AddToFavorites.php
  app/Actions/RemoveFromFavorites.php
  app/Http/Controllers/FavoriteController.php
  tests/Feature/Actions/AddToFavoritesTest.php
  tests/Feature/Actions/RemoveFromFavoritesTest.php
Due: ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

お気に入り削除エンドポイントを追加する
  app/Actions/SearchItems.php
  app/Http/Controllers/FavoriteController.php
  routes/web.php
  tests/Feature/FavoritesDestroyTest.php
  tests/Feature/FavoritesStoreTest.php
  tests/Feature/ItemsIndexTest.php
Due: ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

お気に入り削除機能を商品詳細ページに追加する
  resources/js/Pages/Items/Show.vue
  tests/Browser/Items/ShowTest.php
Due: eslint --fix, prettier --write, eslint, ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

お気に入り商品取得処理を追加する
  app/Actions/GetFavorites.php
  tests/Feature/Actions/GetFavoritesTest.php
Due: ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

商品一覧ページにお気に入り商品一覧の表示を追加する
  app/Http/Controllers/FavoriteController.php
  resources/js/Pages/Items/Index.vue
  routes/web.php
  tests/Browser/Items/IndexTest.php
Due: eslint --fix, prettier --write, eslint, ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

コメントページの外観を追加する
  resources/js/Components/PrimaryButton.vue
  resources/js/Pages/Auth/Login.vue
  resources/js/Pages/Auth/Register.vue
  resources/js/Pages/Comments/Index.vue
  resources/js/Pages/Items/Show.vue
  resources/js/functions.ts
  resources/js/types/index.d.ts
  routes/web.php
Due: eslint --fix, prettier --write, eslint, ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

コメント一覧取得機能を追加する
  app/Actions/GetComments.php
  app/Http/Controllers/CommentController.php
  app/Http/Resources/CommentResource.php
  app/Http/Resources/ItemResource.php
  app/Http/Resources/UserResource.php
  app/Models/Comment.php
  app/Models/Item.php
  app/Models/User.php
  database/factories/CommentFactory.php
  database/factories/ItemFactory.php
  database/factories/UserFactory.php
  database/migrations/0001_01_01_000000_create_users_table.php
  database/migrations/2024_05_20_015313_create_comments_table.php
  database/seeders/CommentSeeder.php
  database/seeders/DatabaseSeeder.php
  database/seeders/TestDataSeeder.php
  tests/Browser/Items/ShowTest.php
  tests/Feature/Actions/GetCommentsTest.php
Due: ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

コメントページにコメント一覧の表示を追加する
  app/Http/Controllers/CommentController.php
  database/factories/UserFactory.php
  resources/js/Pages/Comments/Index.vue
  resources/js/types/index.d.ts
  routes/web.php
Due: eslint --fix, prettier --write, eslint, ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

コメント追加機能を追加する
  app/Actions/AddComment.php
  app/Actions/GetLatestItems.php
  app/Actions/SearchItems.php
  app/Http/Controllers/CommentController.php
  app/Http/Requests/CommentStoreRequest.php
  app/Http/Resources/ItemResource.php
  app/Models/Comment.php
  routes/web.php
  tests/Feature/Actions/AddCommentTest.php
  tests/Feature/Actions/SearchItemsTest.php
  tests/Feature/CommentStoreTest.php
  tests/Feature/ItemsIndexTest.php
Due: ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

コメントページにコメント追加機能を追加する
  resources/js/Components/CommentCard.vue
  resources/js/Pages/Comments/Index.vue
  resources/js/Pages/Items/Show.vue
Due: eslint --fix, prettier --write, eslint

商品一覧の見た目を変更してコンポーネント化する
  resources/js/Components/ItemCard.vue
  resources/js/Components/ItemList.vue
  resources/js/Pages/Items/Index.vue
Due: eslint --fix, prettier --write, eslint

商品詳細ページとコメントページの構成要素をコンポーネント化する
  resources/js/Components/CommentIcon.vue
  resources/js/Components/CommentLink.vue
  resources/js/Components/FavoriteButton.vue
  resources/js/Components/FavoriteIcon.vue
  resources/js/Components/ItemDetailTop.vue
  resources/js/Components/PurchaseLink.vue
  resources/js/Pages/Comments/Index.vue
  resources/js/Pages/Items/Show.vue
Due: eslint --fix, prettier --write, eslint

テストのクラス名を変更する
  tests/Feature/CommentsStoreTest.php
Due: ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

マイページを追加する
  app/Http/Controllers/UserController.php
  resources/js/Components/CommentCard.vue
  resources/js/Pages/Dashboard.vue
  routes/web.php
  tests/Feature/UsersDashboardTest.php
Due: eslint --fix, prettier --write, eslint, ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

プロフィール編集ページの外観を追加する
  app/Http/Controllers/ProfileController.php
  app/Http/Resources/ProfileResource.php
  app/Models/User.php
  database/factories/UserFactory.php
  database/migrations/0001_01_01_000000_create_users_table.php
  resources/js/Components/CommentCard.vue
  resources/js/Components/UserIcon.vue
  resources/js/Layouts/SubPageLayout.vue
  resources/js/Pages/Dashboard.vue
  resources/js/Pages/Profile/Edit.vue
  resources/js/types/index.d.ts
  tests/Browser/Pages/ProfileEditPage.php
  tests/Browser/ProfileEditTest.php
  tests/Feature/ProfileEditTest.php
Due: eslint --fix, prettier --write, eslint, ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

プロフィール編集ページに更新機能を追加する
  app/Actions/UpdateProfile.php
  app/Http/Controllers/ProfileController.php
  app/Http/Requests/ProfileUpdateRequest.php
  package-lock.json
  package.json
  resources/js/Components/CommentCard.vue
  resources/js/Components/UserIcon.vue
  resources/js/Pages/Dashboard.vue
  resources/js/Pages/Profile/Edit.vue
  resources/js/app.ts
  routes/web.php
  tests/Browser/Pages/DashboardPage.php
  tests/Browser/Pages/ProfilePage.php
  tests/Browser/ProfileTest.php
  tests/Feature/ProfileUpdateTest.php
Due: eslint --fix, prettier --write, eslint, ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

ログインユーザー情報のVueへの渡し方を変更する
  app/Http/Controllers/UserController.php
  resources/js/Pages/Dashboard.vue
  resources/js/Pages/Profile/Edit.vue
  tests/Browser/DashboardTest.php
  tests/Browser/Pages/DashboardPage.php
  tests/Feature/UsersDashboardTest.php
Due: eslint --fix, prettier --write, eslint, ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

出品ページの外観を追加する
  app/Http/Controllers/ItemController.php
  resources/js/Components/Modal.vue
  resources/js/Layouts/CommonLayout.vue
  resources/js/Pages/Dashboard.vue
  resources/js/Pages/Items/Create.vue
  resources/js/Pages/Profile/Edit.vue
  routes/web.php
  tests/Browser/Items/CreateTest.php
  tests/Browser/Pages/Items/CreatePage.php
Due: eslint --fix, prettier --write, eslint, ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

出品ページに商品作成機能を追加する
  .env.ci
  .env.dusk.testing
  .env.testing
  app/Actions/CreateNewItem.php
  app/Http/Controllers/CommentController.php
  app/Http/Controllers/ItemController.php
  app/Http/Requests/CommentsStoreRequest.php
  app/Http/Requests/ItemsStoreRequest.php
  resources/js/Pages/Items/Create.vue
  tests/Feature/ItemsCreateTest.php
  tests/Feature/ItemsStoreTest.php
Due: eslint --fix, prettier --write, eslint, ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

機能テストのテストデータ作成時に一意性制約で失敗していたので修正する
  tests/Feature/Actions/GetFavoritesTest.php
Due: ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

出品に関する名称をexhibitからsaleに変更する
  app/Http/Controllers/ItemController.php
  app/Http/Controllers/SaleController.php
  resources/js/Layouts/CommonLayout.vue
  routes/web.php
  tests/Browser/Items/IndexTest.php
  tests/Browser/Pages/Items/CreatePage.php
  tests/Browser/Sales/CreateTest.php
  tests/Feature/SalesCreateTest.php
  tests/Feature/SalesStoreTest.php
Due: eslint --fix, prettier --write, eslint, ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

マイページに出品した商品の一覧表示を追加する
  app/Actions/GetItemsForSale.php
  app/Http/Controllers/SaleController.php
  resources/js/Pages/Dashboard.vue
  routes/web.php
  tests/Feature/SalesIndexTest.php
Due: eslint --fix, prettier --write, eslint, ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

ルーティングを修正する
  app/Actions/UpdateProfile.php
  app/Http/Controllers/FavoriteController.php
  app/Http/Controllers/HomeController.php
  app/Http/Controllers/ItemController.php
  app/Http/Requests/ProfileUpdateRequest.php
  resources/js/Components/ItemList.vue
  resources/js/Layouts/CommonLayout.vue
  resources/js/Pages/Dashboard.vue
  resources/js/Pages/Items/Index.vue
  resources/js/Pages/Items/Show.vue
  routes/web.php
  tests/Browser/Items/IndexTest.php
  tests/Browser/Items/ShowTest.php
  tests/Browser/Pages/Items/IndexPage.php
  tests/Feature/Auth/AuthenticationTest.php
  tests/Feature/DashboardTest.php
  tests/Feature/HomeIndexTest.php
  tests/Feature/HomeSearchTest.php
  tests/Feature/ItemsIndexTest.php
  tests/Feature/ProfileTest.php
Due: eslint --fix, prettier --write, eslint, ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

出品者の商品詳細ページでは購入ボタンを表示しないようにする
  resources/js/Pages/Items/Show.vue
  tests/Browser/Items/ShowTest.php
Due: eslint --fix, prettier --write, eslint, ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G

商品一覧ページのテストを修正する
  tests/Browser/Items/IndexTest.php
Due: ./vendor/bin/pint, ./vendor/bin/phpstan analyse --memory-limit=2G
